* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
  }
  button{
    background-color: blueviolet;
    margin: 40px;
    border-color: white;
    border-radius: 15px;
    font-size: 50px;
  }
  