* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    background-color:lightblue;
    
   
}
.dmt{
  text-align: center;
  font-size: 40px;
  color:white;
  background-color: blue;
  border-radius: 40px;
  width: 600px;
  margin-left: 375px;
}
.tudo{
  display: flex;
  
  
}
.servicos{
 flex: 1;
 margin-left: 20px;
 padding: 30px;
}
.bnt{
  text-align: center;
  font-size: 35px;
  color:white;
  background-color: blue;
  border-radius: 30px;
  width: 700px;
  margin-left: 40px;
  
}
.tit{
  text-align: center;
  font-size: 27px;
  color:white;
  background-color:blue;
  border-radius: 30px;
  width: 700px;
  margin-left: 320px;
}
a{
  background-color:lightblue ;
  border-radius: 20px;
  color:darkred;
}
.tabelas{
  background-color:lightblue ;
  border-radius: 20px;
  color: blue;
}
.tabelasm{
  display: flex;
  padding: 200px;
  padding-top: 0px;
  background-image: url(mercadodo.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}
.tabelasf{
  display: flex;
  padding: 200px;
  padding-top: 0px;
  background-image: url(farma.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}
.tabelasb{
  display: flex;
  padding: 200px;
  padding-top: 0px;
  background-image: url(Runway\ 2024-04-26T01_49_18.937Z\ Expand\ Image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.tabelasr{
  display: flex;
  padding: 200px;
  padding-top: 0px;
  background-image: url(rest6.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}
.fundo{
 display: flex;

}
.f1{
  padding-right: 100px;
  display: flex;
  background-color:#264406;

}

.foto{
  background-image: url(bancobr.png);
}
li{
  padding: 3px;
}
